___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [45]:
x = set()
x

set()

In [46]:
# We add to sets with the add() method
x.add(1)

In [47]:
#Show
x

{1}

In [48]:
x.add(2)
x

{1, 2}

In [49]:
x.add(1)
x

{1, 2}

Cannot add multiple of the same values. Values have to be unique!

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [50]:
# Add a different element
x.add(2)

In [51]:
#Show
x

{1, 2}

In [52]:
# Try to add the same element
x.add(1)

In [53]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! Sets do not have order. We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [54]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [55]:
set([1,1,2,3])

{1, 2, 3}

In [56]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

Can also create a set from a string.

In [57]:
set('Mississippi')

{'M', 'i', 'p', 's'}

## Booleans

Python  comes with Booleans (with predefined `True` and `False` data types that are basically just the integers 1 and 0). It also has a placeholder object called `None`. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [58]:
# Set object to be a boolean
a = True

In [59]:
#Show
a

True

In [60]:
type(a)

bool

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [61]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [62]:
# None placeholder
b = None

In [63]:
# Show
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!